{
	"extends":"standard",

	"env": {
		"node": true,
		"es6": true,
		"mocha": true
	},

	"rules": {
		"indent": ["error", "tab"],
		"semi": ["error", "always"],
		"brace-style": ["error", "stroustrup", { "allowSingleLine": true }],
		"no-unused-vars": 0
	}
}